body{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header nav{
    background-color: rgb(126, 126, 126);
    padding: 1em;
}
.logo{
    display: inline;
}
.logo a{
    color: rgb(60, 189, 240);
    text-decoration: none;
    border: 2px solid rgb(60, 189, 240);
    border-radius: 2px;
    padding: 0.2em 0.5em;
}
.logo a:hover{
    background-color: rgb(60, 189, 240);
    color: white;
}
.right_nav{
    display: inline;
    position: relative;
    left: 55%;
}
.right_nav ul{
    display: inline;
}
.right_nav li{
    display: inline;
    list-style-type: none;
    margin: 1em;
}
.right_nav li a{
    color: white;
    text-decoration: none;
}
.right_nav li a:hover{
    text-decoration: underline;
}
header section img{
    width: 100%;
    height: 500px;
}
header section div{
    background-color:  rgb(126, 126, 126);
    padding: 1em;
}
.intro_head{
    color: aliceblue;
}
.intro_text{
    color: white;
    padding-bottom: 3em;
}
header section div{
    position: absolute;
    top: 20%;
    left: 10%;
    opacity: 2;
}
.button{
    color: white;
    background-color: rgb(2, 88, 88);
    text-decoration: none;
    border-radius: 100px;
    font-size: large;
    padding: 0.5em 1.5em;
}
.button:hover{
    background-color: rgb(0, 175, 175);
    color: black;
}
.after_header{
    display: flex;
    flex-wrap: wrap;
}
.after_header div{
    margin: 1em;
}
.after_header h2{
    font-size: 40px;
    width: 400px;
}
.after_header p{
    width: 400px;
    position: relative;
    left: 30%;
    top: 20%;
}
.after_header img{
    width: 400px;
}
.after_header .img1{
    width: 250px;
    position: relative;
    left: 10%;
    top: -10%;
}
.mvision{
    background-color: rgb(2, 88, 88);
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}
.mvision div{
    width: 25%;
    text-align: center;
    margin: 1em;
}
.mvision div img{
    width: 70px;
    height: 100px;
}
.destinations{
    text-align: center;
    border-bottom: 1px solid black;
}
.destinations div{
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.destinations div div img{
    width: 500px;
}
.destinations div div p{
    position: absolute;
    color:black;
    background-color: rgba(240, 248, 255, 0.603);
    padding: 0.5em;
    font-weight: bolder;
    font-size: 18px;
}
.form{
    text-align: center;
    padding-top: 1em;
}
form{
    text-align: center;
    width: 70%;
    display: inline-block;
    border: 2px solid rgb(2, 88, 88);
    background-color: aqua;
    border-radius: 2px;
    padding: 0px 2em 1em 2em;
}
input{
    font-size: 18px;
    padding: 3px;
    border: 2px solid rgb(2, 88, 88);
    border-radius: 6px;
}
footer{
    background-color: rgb(32, 32, 32);
    text-align: center;
    color: white;
    padding: 1em;
    margin-top: 3em;
}
footer p{
    font-size: small;
}
.footer{
    border-bottom: 1px solid grey;
}
.footer p{
    font-size: medium;
}
#submit{
    background-color: rgb(2, 88, 88);
    font-size: medium;
    color: white;
    padding: 5px 9px;
    border-radius: 5px;
    margin-top: 2px;
}
@media screen and (max-width: 1024px) {
    .right_nav{
        left: 40%;
    }
}
@media screen and (max-width: 850px) {
    .right_nav{
        left: 30%;
    }
    header section div{
        width: 50%;
    }
}
@media screen and (max-width: 425px) {
    .right_nav{
        left: 20%;
    }
    .right_nav ul{
        display: inline-block;
        width: 60%;
    }
    .right_nav li{
        display: inline-block;
        list-style-type: none;
        margin: 0.2em 0.5em;
        list-style-type: disc;
    }
    header section div{
        position: absolute;
        top: 190px;
        left: 1px;
        width: 70%;
    }
    .after_header h2{
        width: 80%;
        font-size: 25px;
    }
    .after_header p{
        width: 90%;
        position: relative;
        left: 0px;
    }
    .after_header img{
        width: 80%;
    }
    .after_header .img1{
        width: 60%;
    }
    .mvision div{
        width: 80%;
    }
    .destinations div div img{
        width: 300px;
    }
}